@import "../../../styles/fonts";



.TaskCreateForm {
    flex: 0 0 auto;
    width: 16rem;
    background-color: var(--color-input-form);
    border: 1px solid var(--color-input-form-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;

    svg {
        fill: var(--color-icon);
        width: 18px;
        height: 18px;
    }

    .TaskCreateInput {
        flex: 1;
        font-size: 1rem;
        line-height: 24px;
        background-color: var(--color-input-form);
        font-family: $main-font;
    
        caret-color: var(--color-font-primary);
        color: var(--color-font-primary);
        margin-left: 0.25rem;
        padding: 0 !important;
        border: none !important;
    }
    
    .TaskCreateInput:focus {
        outline:none; 
        border: none !important;
    }
}

.isFocused {
    outline: none;
    border: 1px solid var(--color-focus);
    svg {
        fill: var(--color-action) !important;
    }
}