@import "../../../styles/color";

.Button {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
    text-decoration: none;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Button:disabled {
    opacity: 0.6;
}

.AddButton {
    background-color: transparent;
    box-shadow: 0 0 0 1pt $primary-action;
    fill: $primary-action;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0.4rem;
}

.AddButton:focus {
    outline: none;
}

.Action {
    background: var(--color-action);
    border: 1px solid transparent;
    border-radius: 3px;
}

.Action:hover {
    background: var(--color-action-dark);
}

// .Action:focus {
//     outline: none !important;
//     background-color: $focus;
// }

.Delete {
    background: $error;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 3px;
}

.Delete:hover {
    background: $error-dark;
}

.SecondaryAction {
    background: var(--color-secondary-action);
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 3px;
}

// .SecondaryAction:focus {
//     outline: none !important;
//     background-color: $focus;
// }

.SecondaryAction:not(:disabled):hover {
    background: var(--color-secondary-action-dark);
}

.Outlined {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-action);
    background-color: transparent;
    color: var(--color-action);
}

.Outlined:hover {

    border-color: var(--color-action-dark);
}

.Outlined:focus {
    border: 1px solid $primary-action;
}

.Rounded {
    border-radius: 8px;
}

.Icon {
    background-color: transparent;
    fill: var(--color-primary-icon);
    border-radius: 3px;
    svg {
        height: 20px;
        width: 20px;
    }
}

.Icon:hover {
    fill: var(--color-primary-icon-hover);
}

.Link {
    background: transparent;
    transition: none !important;
    color: var(--color-link);
    padding: 0.5rem 1rem;
}

.small {
    padding: 0.25rem 0.5rem;
    p {
        font-size: 0.875rem;
        line-height: 1rem;
    }
}

.medium {
    padding: 0.5rem 1rem;
}

.large {
    padding: 0.5rem 1rem;
}