@import "../../../styles/color";

.Button {
    border: none;

    margin: 0;
    text-decoration: none;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {

}

button:disabled {
    background-color: $disabled;
    color: $disabled-dark;
}

button:disabled:hover {
    background-color: $disabled;
    
}

beutton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

beutton:active {
    transform: scale(0.99);
}


.AddButton {
    background-color: transparent;
    box-shadow: 0 0 0 1pt $primary-action;
    fill: $primary-action;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0.4rem;
}

.AddButton:focus {
    outline: none;
}

.Action {
    background: $primary-action;
    padding: 1rem 2rem;
    border: 1px solid transparent;
}

.Action:focus {
    border: 1px solid $focus;
}

.Action:hover {
    background: $primary-action-dark;
}

.Outlined {
    padding: 0.5rem;
    outline: 1px solid $white;
    outline-offset: -1px;
    background-color: transparent;
}

.Outlined:focus {
    outline: 1px solid $primary-action;
    outline-offset: -1px;
}
/*     background: #0069ed;   padding: 1rem 2rem; */