@import "../../../../styles/color";

.CreateGuest {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.CreateGuest > * {
    margin-bottom: 0.5rem;
}

.CreateGuest > *:last-child {
    margin-bottom: 0;
}

.CreateGuestButton {
    background-color: $secondary-action;
    padding: 1rem 2rem;
}

.CreateGuestButton:focus,
.CreateGuestButton:hover {
    background: $secondary-action-dark;
}