@import "../../../styles/color";
@import "../../../styles/fonts";

.Select {
    font-family: $main-font;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--color-input);
    vertical-align: middle;
    caret-color: var(--color-font-tertiary);
    color: var(--color-font-primary);
    border: 1px solid var(--color-input-border) !important;
    border-radius: 5px;
}   

.Select:focus {
    outline:none; 
    border:1px solid var(--color-focus) !important;
}

