@import '../../../styles/layout';

@media #{$Tablet}  {
    .Main {
        height: calc(100vh - 4rem);
    }
}

@media #{$Desktop} {
    .Main {
        height: calc(100vh - 4rem);
    }
}

@media #{$Mobile} {
    .Main {
        height: calc(100vh - 3rem);
    }
}


.Main {
    width: 100%;
}