@import "../../../styles/color";

.Segment {
    height: inherit;
    flex: 1 1 0;
    border: 2px solid $primary-action;
}

.Segment:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.Segment:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.SegmentActive {
    background-color: $primary-action;
    fill: white;
}

.SegmentActive:hover {
    background-color: $primary-action-dark;
    border: 2px solid $primary-action-dark;
}

.SegmentInactive {
    background-color: transparent;
    color: $disabled;
}

.SegmentInactive:hover,
.SegmentInactive:focus {
    color: $primary-text
}
