@import "../../../styles/color";

.Segment {
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    border: 2px solid var(--color-secondary);
    svg {
        height: 20px;
        width: 20px;
    }
}

.Segment:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Segment:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.SegmentActive {
    background-color: var(--color-selected);
    fill: var(--color-primary-action);
}

.SegmentActive:hover {
    background-color: var(--color-secondary-hover);
    border: 2px solid $primary-action-dark;
}

.SegmentInactive {
    background-color: transparent;
    color: $disabled;
}

.SegmentInactive:hover,
.SegmentInactive:focus {
    color: $primary-text
}
