.DropdownItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 auto;
    width: 100%;
    border: 1px solid var(--color-border);
    padding: 0.5rem 1rem;
}

.DropdownItem:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.DropdownItem:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DropdownButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 auto;
    background-color: transparent;
}

.DropdownButton:hover {
    background-color: var(--color-menu-item-hover);
}