.Divider {
    height: 1px;
    width: 100%;
    flex-shrink: 0;
    border: none;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Vertical {
    width: 1px;
    height: 100%;
    flex: 1;
    border: none;
    margin: 0 0.75rem;
}

.Divider {
    background-color: var(--color-300);
}