@import "../../../styles/color";

.MenuItem {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
}

.MenuItem:hover {
}

.MenuItemActive {
    background-color: var(--color-900);
    color: var(--color-secondary-font);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.MenuItemActive:hover {

}