@import './styles/layout';

@media #{$Tablet}  {
    html {
        font-size: 21px;
    }

    #App {

    }
}

@media #{$Desktop} {
    html {
        font-size: 21px;
    }

    #App {
        flex-direction: row;
    }
}

@media #{$Mobile} {
    html {
        font-size: 18px;
    }

    #App {
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

#App {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#ModalRoot {
    position: relative;
z-index: 10;
}