.ChannelList {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.ChannelListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.ChannelListHeader {
    margin: 10px;
}