@import '../../../styles/layout';
@import "../../../styles/shadows";

@media #{$Tablet}  {
    .Content {
        width: 100vw;
    }

}

@media #{$Desktop} {
    .Content {
        flex: 1 1 auto;
    }
}

@media #{$Mobile} {
    .Content {
        width: 100%;
    }
}

.Content {
    display: flex;
    flex-direction: column;
}