.FadeInScale {

}

.FadeInScaleEnter {
    opacity: 0.01;
}

.FadeInScaleEnterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.FadeInScaleExit {
    opacity: 1;
}

.FadeInScaleExitActive {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}