@import "../../../styles/color";

.Channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    padding: 0.2rem 1rem;
    cursor: pointer;
    flex-shrink: 0;
    text-decoration: none;
    
    .ChannelButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 auto;
    }

    .ButtonContainer {
        button {
            margin-left: 0.25rem;
        }
    }

    .ChannelName {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .ChannelHash {
            margin-right: 4px;
            color: var(--color-channel-hash);
        }
        
        .ChannelLock {
            svg {
                fill: var(--color-channel-hash);
                margin-right: 4px;
                width: 16px;
                height: 16px;
            }
        }
        
        .ChannelText {
            min-width: 0;
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }    
    }
}

.Channel:not(.Selected):hover {
    background-color: var(--color-600);
}

.Selected {
    background-color: var(--color-channel-selected);
    p {
        color: var(--color-channel-selected-font);
    }
    .ChannelName {
        .ChannelHash {
            color: var(--color-channel-hash-selected);
        }
    }

    svg {
        fill: var(--color-icon-selected);
    }

}

.Hidden {
    display: none;
}

.IconButton {
    padding: 0 !important;
    svg {
        height: 18px;
        width: 18px;
    }
}


