.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.tertiary {
  color: var(--color-tertiary);
}

.accent {
  color: var(--color-accent);
}

.Typography {
  margin: 0;
}