.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.tertiary {
  color: var(--color-tertiary);
}

.accent {
  color: var(--color-accent);
}

.complement {
  color: var(--color-complement);
}

.error {
  color: var(--color-error);
}

.Typography {
  margin: 0;
}

.fontWeight400 {
  font-weight: 400;
}

.fontWeight700 {
  font-weight: 700;
}
