.GroupEmpty {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .Action {
        svg {
            fill: var(--color-300);
            width: 66px;
            height: 66px;
            margin-bottom: 1rem;
        }

        button {
            margin-bottom: 1rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}