.GroupName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 1rem;
    width: 100%;
}