@import "../../../styles/color";

.Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .GroupIcon {
        color: $primary-text;
        background-color: var(--color-group-icon);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        border-radius: 50%;
        cursor: pointer;
        transition-timing-function: ease-out;
        transition-duration: 200ms;
        transition-property: background-color, border-radius;
    }
    .GroupIcon::after {
        transition: all 200ms ease-out;
        content: "";
        position: absolute;
        left: 0;
        height: 2.75rem;
        width: 5px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

// .Active {
//     border-radius: 25% !important;
//     background-color: var(--color-group-selected);
// }

.Active::after {

    background-color: var(--color-group-selected);
}

.GroupIcon:hover:not(.Active), .Active {
    border-radius: 25% !important;
    background-color: var(--color-group-selected) !important;
    p {
        color: white;
    }
}

// .Active::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 0.6rem;
//     width: 0.3rem;
//     border-bottom-right-radius: 1.2rem;
//     border-top-right-radius: 1.2rem;
//     background-color: var(--color-200);
// }
