@import "../../../styles/color";

.Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .GroupIcon {
        color: $primary-text;
        background-color: var(--color-group-icon);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        border-radius: 50%;
        cursor: pointer;
    }
}

.Active::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2.75rem;
    width: 5px;
    background-color: var(--color-200);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

// .Active::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 0.6rem;
//     width: 0.3rem;
//     border-bottom-right-radius: 1.2rem;
//     border-top-right-radius: 1.2rem;
//     background-color: var(--color-200);
// }
