@import "../../../styles/color";

.GroupDetails {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 100%;
    height: 4rem;
    padding: 0 1rem; 
    svg {
        width: 18px;
        height: 18px;
    }
    border-bottom: 1px solid var(--color-900);
}


.GroupName {
    min-width: 0;
    flex: 1 1 0;
    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.ButtonContainer {
    display: inline-block;
    flex: 0 0 auto;
    button {
        padding: 0;
    }
    margin-left: 0.5rem;
}