@import "../../../styles/color";
@import "../../../styles/shadows";
@import "../../../styles/fonts";

.MessageComposer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
    overflow: hidden;
}

.MessageInput {
    width: 100%;
    border-radius: 5px; 
    resize: none;
}