.GroupModal {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 500px;
    height: 50%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.GroupModalColumn {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}