.UserAccount {
    display: flex;
    flex-direction: column;
    background-color: var(--color-700);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: inset 0px -2px 0px 0px #383838, inset 0 2px 2px #171717;
}