@import "../../../styles/color";

.Message {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;

    .MessageBody {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        min-width: 0;
        .MessageAlias {
            margin-right: 0.375rem;
        }

        .MessageTimestamp {
            p {
                line-height: 1.5rem !important;
            }
        }
    }
}

.MessageIcon {
    margin-top: 0.20rem;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: $tertiary-text;
    flex-shrink: 0;
}

.MessageText {
    p {
        overflow-wrap: break-word;
        a {
            color: var(--color-link) !important;
        }
    }
    white-space: pre-line;

}
