@import '../../../styles/layout';


@media #{$Tablet}  {
    .SettingsMenu {
        flex-direction: row;
    }
}

@media #{$Desktop} {
    .SettingsMenu {
        flex-direction: row;
    }
}

@media #{$Mobile} {
    .SettingsMenu {
        display: flex;
        flex-direction: column;
    }
}


.SettingsMenu {
    display: flex;
    list-style: none;
    padding: 1.5rem 2rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    // box-shadow: inset 0px -2px 0px 0px black;
    flex-shrink: 0;
    position: relative;
}