.GroupModalButton {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--color-group-button-fill);
    background-color: transparent;
    border: 2px solid var(--color-group-button-fill);
    svg {
        flex-shrink: 0;
    }
}

.GroupModalButton:hover {
    background-color: var(--color-group-button-hover);
    fill: white;
}