@import "../../../../styles/color";

.ChannelList {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
    color: $secondary-text;
    margin-left: 1.5rem;
}

.ChannelItem {
    
}