.Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .HomeButton {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--color-home-button);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--color-home-icon-border);
        transition-timing-function: ease-out;
        transition-duration: 200ms;
        transition-property: background-color, border-radius, border-color;
        svg {
            fill: var(--color-home-icon);
            height: 24px;
            width: 24px;
        }
    }
}



.Active {
    border-radius: 25% !important;
    svg {
        fill: var(--color-home-icon-active) !important;
    }
    background-color: var(--color-home-button-active) !important;
    border-color: var(--color-home-icon-border-active) !important;
}

.HomeButton:hover:not(.Active) {
    border-radius: 25%;
}

// .Active::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 0.6rem;
//     width: 0.3rem;
//     border-bottom-right-radius: 1.2rem;
//     border-top-right-radius: 1.2rem;
//     background-color: var(--color-200);
// }


.Active::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2.75rem;
    width: 5px;
    background-color: var(--color-group-selected);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}