.Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .HomeButton {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--color-300);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        svg {
            fill: var(--color-500);
            height: 24px;
            width: 24px;
        }
    }
}



.Active {
    svg {
        fill: white;
    }
    background-color: var(--color-home-active) !important;
}

// .Active::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 0.6rem;
//     width: 0.3rem;
//     border-bottom-right-radius: 1.2rem;
//     border-top-right-radius: 1.2rem;
//     background-color: var(--color-200);
// }


.Active::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2.75rem;
    width: 5px;
    background-color: var(--color-200);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}