@import "../../../styles/fonts";

.ListCreateForm {
    height: 2.25rem;
    background-color: var(--color-input-form);
    border: 1px solid var(--color-input-form-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    padding: 0.375rem 0.5rem;
    flex: 0 0 16rem;
    margin-right: 1.5rem;

    margin-left: 2rem;
    .ListCreateInput {
        flex: 1;
        font-size: 1rem;
        background-color: var(--color-input-form);

        height: 100%;
        font-family: $main-font;
    
        caret-color: var(--color-font-primary);
        color: var(--color-font-primary);
        margin-left: 0.25rem;
        padding: 0 !important;
        border: none !important;
    }

    .ListCreateInput::placeholder {
        opacity: 1;
        color: var(--color-font-placeholder);
    }
    
    .ListCreateInput:placeholder-shown {
        opacity: 1;
        color: var(--color-font-placeholder);
    }
    
    
    .ListCreateInput:focus {
        outline:none; 
        border: none !important;
    }
}



.isFocused {
    outline: none;
    border: 1px solid var(--color-focus);
    svg {
        fill: var(--color-action) !important;
    }
}
