@import "../../../styles/color";

.SideMenuRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 72px);
    height: 100%;
    background-color: var(--color-primary);
}

.ScrollContainer > * {
    margin-bottom: 1rem;
    flex-shrink: 0;
}

.ScrollContainer {
    overflow-y: auto;
}