@import "../../../styles/fonts";
@import "../../../styles/color";

.Title {
	font-size: 3rem;
	line-height: 1.5em;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-family: $main-font;
}

.Subtitle {
	font-family: $main-font;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 0;
}

.Primary {
    color: var(--color-font-primary);
}

.Secondary {
    color: var(--color-font-secondary);
}

.Tertiary {
	color: var(--color-font-tertiary);
}

.Quaternary {
	color: var(--color-font-quaternary);
}

.error {
	color: var(--color-error);
}

.sm {
	margin-bottom: 0.5rem;
}

.md {
	margin-bottom: 1rem;
}

.lg {
	margin-bottom: 1.5rem;
}

.none {
	margin: 0 !important;
}

.bold {
	font-weight: 500;
}

.center {
	text-align: center;
}

.spacing {
	letter-spacing: 0.1rem;
}