.Tooltip {
    background-color: var(--color-tooltip) !important;
    color: var(--color-tooltip-font) !important;
    border-radius: 5px !important;
    padding: 0.35rem 0.7rem !important;
    transition: none !important;
    opacity: 1 !important;
    
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !important;
}

.Tooltip::after {
    border-bottom-color: var(--color-tooltip) !important;
    border-top-color: var(--color-tooltip) !important;
    left: 50%;
}

.TooltipSide {
    background-color: var(--color-tooltip) !important;
    color: var(--color-tooltip-font) !important;
    border-radius: 5px !important;
    padding: 0.35rem 0.7rem !important;
    opacity: 1 !important;
    transition: none !important;
}

.TooltipSide::after {
    border-left-color: var(--color-tooltip) !important;
    border-right-color: var(--color-tooltip) !important;
}