.MemberListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 0.4rem;
    position: relative;
    .MemberInvite {
        margin-left: auto;
    }
    .MemberCount {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0.5rem;
        margin-top: 0.05rem;
    }
}

