@import "../../../styles/fonts";

.Task {
    background-color: var(--color-task);
    width: 16rem;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--color-task-border);
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    display: flex;
    position: relative;

    a {
        text-decoration: none;
        padding: 0.25rem 0.75rem;
        height: 100%;
        width: 100%;
    }
    a:focus, a:hover {
        background-color: var(--color-task-hover);
        + .TaskEditButton {
            opacity: 1;
        }
    }

    p {
        overflow-wrap: break-word;
    }

    .TaskEditButton {
        background-color: transparent;
        padding: 0.2rem;
        opacity: 0;
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        border-radius: 3px;
        svg {
            fill: var(--color-font-quaternary);
        }
        
    }

    .TaskEditButton:focus .TaskEditButton:hover  {
        opacity: 1;
    }

    .TaskEditButton:hover {
        + a {
            background-color: var(--color-task-hover);
        }
        background-color: var(--color-secondary);
    }
}
.Task:hover {
    .TaskEditButton {
        opacity: 1;
    }
}

// .Task:hover {
//     .TaskEditButton {
//         visibility: visible;
//     }
//     background-color: var(--color-task-hover);
// }

.Task:last-child {
    margin-bottom: 0;
}


.TextMock {
    font-family: $main-font;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    overflow-wrap: break-word;
    max-width: calc(16rem - 26px);
}