.Wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    .CloseButton {
        padding: 0.375rem;
        padding-bottom: 0;
        background-color: transparent;
    }
    .CloseButton:hover {
        svg {
            fill: var(--color-icon-hover);
        }
        p {
            color: var(--color-font-primary);
        }
    }
}