.Typing {
    flex-shrink: 0;
    position: absolute;
    bottom: 0.3rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
}

.NoTyping {
    flex-shrink: 0;
    position: absolute;
    bottom: 0.3rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}