@import "../../../styles/color";
@import "../../../styles/layout";
@import "../../../styles/fonts";

@media #{$Tablet}  {
    .Authentication {
        width: 25rem;
    }
}

@media #{$Desktop} {
    .Authentication {
        width: 25rem;
    }
}

@media #{$Mobile} {
    .Authentication {
        width: 100%;
        padding: 0 1.5rem;
    }
}

.Authentication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > * {
        flex-shrink: 0;
    }
}