.ChannelMenu {
    display: flex;
    flex-direction: column;
    height: 100%;
    .MenuBar {
        flex: 0 0 4rem;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        .MenuItem {
            flex: 0 0 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .ChannelMenuView {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 calc(100% - 4rem);
    }
}