@import "../../../styles/layout";
@import "../../../styles/color";

@media #{$Tablet}  {
    .SecondaryPanel {
        display: none;
        height: calc(100vh - 4rem);
    }
}

@media #{$Desktop} {
    .SecondaryPanel {
        flex: 0 0 calc(300px + 4rem);
        height: calc(100vh - 4rem);
    }
}

@media #{$Mobile} {
    .SecondaryPanel {
        position: fixed;
        transform: translate3d(150vw, 0, 0);
        width: 50vw;
        height: calc(100vh - 3rem);
    }
}

.SecondaryPanel { 
    background-color: var(--color-600);
    border-left: 2px solid var(--color-tertiary);
    overflow-x: hidden;
}