.Member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    padding: 0.2rem 1rem;
    cursor: pointer;
    flex: 1;

    .Alias {
        min-width: 0;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .Wrapper {
        display: flex;
        flex-direction: row;
        
        .OwnerIcon {
            margin-left: 4px;
            fill: var(--color-owner);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .UserIcon {
            margin-left: 4px;
            fill: var(--color-user);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

.Member:hover {
    background-color: var(--color-500);
}


