.TaskEditOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 1rem;
    margin: 0;
}

.Option {
    margin: 0;
    padding: 0;
}