.AddButton {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0 !important;
}

.AddButton:focus {
    fill: var(--color-focus);
}

.AddButton:hover {
    svg {
        fill: var(--color-icon-hover);
    }
}