.AddButton {
    background-color: transparent;
    box-shadow: 0 0 0 1pt var(--color-primary-action);
    fill: var(--color-primary-action);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.AddButton:focus {
    outline: none !important;
    box-shadow: 0 0 0 1pt var(--color-focus);
    fill: var(--color-focus);
}