.AddButton {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.AddButton:focus {
    fill: var(--color-focus);
}

.AddButton:hover {
    fill: var(--color-100);
}