@import "../../../styles/color";
@import "../../../styles/fonts";

.Input {
    font-family: $main-font;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    background-color: var(--color-input);
    border: 1px solid var(--color-input-border) !important;
    caret-color: var(--color-font-tertiary);
    color: var(--color-font-primary);
    border-radius: 3px;
}   

.Input::placeholder {
    opacity: 1;
    color: var(--color-font-placeholder) !important;
}

.Input:placeholder-shown {
    opacity: 1;
    color: var(--color-font-placeholder) !important;
}

.Input:focus {
    outline:none; 
    border:1px solid var(--color-focus) !important;
}

