@import "../../../styles/color";
@import "../../../styles/fonts";

.Input {
    font-family: $main-font;
    font-size: 1rem;
    padding: 0.75rem;
    z-index: 2;
}

.Input:focus {
    outline:none; 
    border:2px solid $primary-action;
    -webkit-box-shadow: 0px 0px 5px $primary-action;
    box-shadow: 0px 0px 5px $primary-action;
}