@import "../../../styles/color";
@import "../../../styles/shadows";
@import "../../../styles/fonts";

.MessageComposer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    flex-shrink: 0;
    overflow: hidden;
}

.MessageInput {
    width: 100%;
    border-radius: 5px; 
    resize: none;
}

.SendButton {
    padding: 0 0.5rem;
    background-color: $primary-action;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex: 1;
    fill: white;
}

.SendButton svg {
    height: 20px;
    width: 20px;
}

#HiddenMessage {
    visibility: hidden;
    position: absolute;
    height: auto;
    width: auto;
    white-space: nowrap;
    left: 0;
    overflow: hidden;
    font-family: $main-font;
    font-size: 1rem;
    box-shadow: none;
    outline: none;
}