@import "../../../styles/color";

.TaskList {
    display: flex;
    flex-direction: column;
}

.TaskHeading {
    margin-bottom: 0.5rem;
}

.TaskItem {
    color: $primary-text;
    background-color: $white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.TaskListButton {
    width: 4rem;
    margin-right: 0.5rem;
}