.MessageIcon {
    margin-top: 6px;
    display: block;
    height: 48px;
    width: 48px;
    background-color: red;
    margin-right: 1rem;
}

.MessageBody {
    display: flex;
    flex-direction: column;
    width: calc(100% - 48px);
}

.MessageBodyRow > * {
    margin-right: 0.5rem;
}