@import "../../../styles/color";

.Message {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.MessageIcon {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background-color: $tertiary-text;
    flex-shrink: 0;
}

.MessageBody {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    min-width: 0;
}

.MessageBodyRow > * {
    margin-right: 0.4rem;
}

.MessageText > p {
    overflow-wrap: break-word;
}