.GroupItem {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0;
}

.GroupItemSelected {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0;
}

.GroupItemSelected::after {
    content : "";
    position: absolute;
    left: 0;
    height: 50.4px;
}
