.CreateGroup {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.CreateGroupActions {
    justify-self: flex-end;
}