@import '../../../styles/layout';
@import "../../../styles/color";

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: var(--color-500);
    >:first-child {
        height: 100vh;
    }
}


:focus {
    outline: 1px solid $focus;
    outline-offset: -1px;
}

body.UsingMouse :focus {
    outline: none;
}