@import "../../../styles/color";
@import '../../../styles/layout';

@media #{$Tablet}  {
    .Header {
        height: 4rem;
        padding: 0 1rem;
    }
}

@media #{$Desktop} {
    .Header {
        height: 4rem;
        padding: 0 1rem;
    }
}

@media #{$Mobile} {
    .Header {
        justify-content: space-between;
        height: 3rem;
    }
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--color-700);
    flex-shrink: 0;
    border-bottom: 1px solid black;
}