@import '../../../styles/layout';


@media #{$Tablet}  {
    .SettingsNav {
        flex-direction: row;
    }
}

@media #{$Desktop} {
    .SettingsNav {
        flex-direction: row;
    }
}

@media #{$Mobile} {
    .SettingsNav {
        display: flex;
        flex-direction: column;
    }
}


.SettingsNav {
    padding: 0;
}