@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

:root {
  --color-bg: #201e20;
  // --color-bg: #171517;
  --color-fg: rgba(255, 255, 255, 0.07);
  --color-fg-hover: #414041;
  --color-tg: #282828;
  --color-icon: rgba(255, 255, 255, 0.08);
  --color-primary: rgba(255, 255, 255, 0.8);
  --color-secondary: #909090;
  --color-tertiary: #939393;
  --color-accent: #e87e04;
  --color-accent-dark: #c76c03;
  --color-success: #00aa55;
  --color-error: #f64747;
  --color-complement: black;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

#index {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
