.GroupList {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: inherit;
    width: 88px;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: GroupList;
}