@import '../styles/layout';

@media #{$Tablet}  {

}

@media #{$Desktop} {
    .SideMenuButton {
        display: none;
    }
}

@media #{$Mobile} {
    .SideMenuButton {
        display: flex;
        flex-direction: column;
    }
}

.SideMenuButton {


    .IconBar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
}