@import "../../../styles/color";

.MemberList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: $secondary-text;
    padding: 0;
    overflow-y: auto;
    flex-shrink: 0;
}

.MemberList::-webkit-scrollbar {
    width: 7px;
}

.MemberList::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-dark);
    border-radius: 10px;
}
