@import "../../../styles/layout";

@media #{$Tablet}  {
    .SlackerLoader {
        margin-bottom: 2rem;
    }
}

@media #{$Desktop} {
    .SlackerLoader {
        margin-bottom: 3rem;
    }
}

@media #{$Mobile} {
    .SlackerLoader {
        margin-bottom: 1.5rem;
    }
}

.SlackerLoader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}