@import "../../../styles/color";

.ChannelList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    padding: 0;
}

.ChannelList::-webkit-scrollbar {
    width: 7px;
}

.ChannelList::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-dark);
    border-radius: 10px;
}

.ButtonContainer {
    margin-left: auto;
}

.ChannelItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    padding: 0.2rem 1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.ChannelItem:not(.Selected):hover {
    background-color: var(--color-600);
}

.Selected {
    background-color: var(--color-400);
    p {
        color: var(--color-primary-font-selected);
    }

}

.SettingsButtonHidden {
    display: none;
    svg {
        height: 18px;
        width: 18px;
    }
}

.SettingsButton {
    padding: 0;
    svg {
        height: 18px;
        width: 18px;
    }
}




.ChannelHash {
    margin-right: 4px;
    color: var(--color-channel-hash);
}

.Wrapper {
    width: 80%;
}

.ChannelName {
    min-width: 0;
    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


}