@import "../../../styles/color";

.ActionBar {
    background-color: $secondary;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
}