@import '../styles/layout';
@import "../styles/color";

@media #{$Tablet}  {

}

@media #{$Desktop} {
    .SecondaryPanel {
        width: 30%;
    }
}

@media #{$Mobile} {
    .SecondaryPanel {
        position: fixed;
        transform: translate3d(150vw, 0, 0);
        width: 50vw;
    }
}

.SecondaryPanel { 
    height: 100%;
    background-color: $secondary;
}