.TaskBoardList {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 288px;
    margin-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.TaskBoardList:first-child {
    margin-left: 2rem;
}