.LoadingButton {
    position: relative;
    cursor: pointer;
    .SpinnerWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.Visible {
    visibility: visible;
}

.Hidden {
    visibility: hidden;
}