@import "../../../styles/fonts";
@import "../../../styles/color";

.FloatLabel {
    font-size: 14px;
    font-family: $main-font;
    color: var(--color-input-label);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}