$primary: #d32f2f;
$primary-dark: #9a0007;
$primary-light: #ff6659;

$secondary: #212121;
$secondary-dark: #000000;
$secondary-light: #484848;

$primary-action: #0069ed;
$primary-action-dark: #0053ba;
$secondary-action: #00B16A;
$secondary-action-dark: #1E824C;
$white: white;

$error: crimson;
$success: green;
$disabled:#D3D3D3;
$disabled-dark: 	#808080;

$secondary-color: white;
$tertiary-color: green;
$primary-text: rgba(0,0,0,.84);
$secondary-text: white;
$new: #1A1A1A;