@import "./layout";


@media #{$Tablet}  {

}

@media #{$Desktop} {
    :root {
        --padding: 1.5rem;
        --padding-left: 1.5rem;
        --padding-right: 1.5rem;
    }
}

@media #{$Mobile} {
    :root {
        --padding: 1rem;
        --padding-left: 1rem;
        --padding-right: 1rem;
        --margin-s: 0.5rem;
        --margin: 1rem;
    }
}