.dark {
    --color-group-list: #121212;
    --color-placeholder: #aaa;
    --color-primary: #373737;
    --color-primary-light: #2e2e2e;
    --color-primary-dark: #2f2f2f;
    --color-primary-hover: #484848;
    --color-divider: #ccc;
    --color-primary-action: #0069ed;
    --color-primary-action-light: #B8D8FF;
    --color-primary-action-dark: #0053ba;

    --color-secondary: #1e1e1e;
    --color-secondary-hover: #161616;
    --color-tertiary: #2f2f2f;
    --color-selected: #161616;
    --color-scrollbar: #aaa;
    --color-secondary-action: #00B16A;
    --color-secondary-action-dark: #1E824C;

    --color-font-heading: #A2A2A2;
    --color-primary-font: #ccc;
    --color-primary-font-selected: white;
    --color-secondary-font: white;
    --color-tertiary-font: #B8D8FF;
    --color-quaternary-font: #A2A2A2;
    
    --color-primary-icon: #ccc;
    --color-primary-icon-hover: white;
    --color-owner: #F0DF0F;

    --color-error: #FF8C8A;
    --color-success: #9BFE83;
    --color-focus: #9B30FF; 
}

.light {
    --color-channel-hash: #00b8e6 !important;
    --color-group-list: #273c75 !important;
    --color-group-list-button: white !important;
    --color-group-list-button-fill: #273c75 !important;
    --color-user-details: #4264c0 !important;
    --color-task-list: #273c75 !important;
    --color-task: !important;
    --color-task-hover: !important;
    --color-message-date: #B8D8FF;
    --color-action-bar: #273c75 !important;

    --color-placeholder: #aaa;
    --color-primary: #fff !important;

    --color-primary-action: #0069ed !important;
    --color-primary-action-light: #B8D8FF !important;
    --color-primary-action-dark: #0053ba !important;

    --color-primary-hover: #D4D6D8 !important;
    --color-divider: rgba(0, 0, 0, 0.12);

    --color-secondary: #e8ecf7 !important;
    --color-secondary-hover: #161616;
    --color-tertiary: #2f2f2f;
    --color-selected: #273c75 !important;
    --color-scrollbar: #aaa;
    --color-secondary-action: #00B16A;
    --color-secondary-action-dark: #1E824C;

    --color-font-heading: #A2A2A2;
    --color-primary-font: #000066 !important;
    --color-primary-font-selected: white !important;
    --color-secondary-font: black !important;
    --color-tertiary-font: #222!important;
    
    --color-primary-icon: black !important;
    --color-primary-icon-hover: #c23616 !important;
    --color-owner: #C65026 !important;
    --color-error: crimson !important;
    --color-focus: #9B30FF !important;
    --color-success: #9BFE83;
    --color-link: #B8D8FF;
}