.dark {
    --color-100: white;
    --color-200: #ccc; 
    --color-300: #404040; 
    --color-400: #373737; 
    --color-500: #2f2f2f; 
    --color-600: #262626; 
    --color-700: #1e1e1e; 
    --color-800: #1a1a1a; 
    --color-900: #0d0d0d;

    --color-action: #7657FF;
    --color-action-font: white;
    --color-action-dark: #5a35ff;
    --color-action-hover: #5a35ff;
    --color-border: #0d0d0d;
    --color-border-secondary: #1a1a1a;
    --color-channel-hash: #ccc;
    --color-channel-hash-selected: #ccc;
    --color-channel-hover: #373737;
    --color-channel-icon-selected:#ccc;
    --color-channel-icon-hover:white;
    --color-channel-selected: #373737;
    --color-channel-selected-font:white;
    --color-divider: #404040;
    --color-error: #FF8C8A;
    --color-focus: #7462e0; 
    --color-font-quaternary: #B8D8FF;
    --color-font-placeholder: #aaa;
    --color-font-primary: #ccc;
    --color-font-secondary: white;
    --color-font-tertiary: #A2A2A2;
    --color-font-notification: #B8D8FF;
    --color-group-icon: #2f2f2f;
    --color-group-button-fill: #7657FF;
    --color-group-button: #2f2f2f;
    --color-group-button-hover: #7657FF;
    --color-group-details-hover: #212121;
    --color-group-selected: #7657FF;
    --color-group-icon-selected: #9279ff;
    --color-header: #1e1e1e;
    --color-home-icon: white;
    --color-home-icon-active: white;
    --color-home-button: #2f2f2f;
    --color-home-button-active: #9279ff;
    --color-home-icon-border: #2f2f2f;
    --color-home-icon-border-active: #9279ff;
    --color-icon: #ccc;
    --color-icon-hover: white;
    --color-icon-button-active: #0d0d0d;
    --color-icon-button-hover: #373737;
    --color-icon-hover: #7657FF;
    --color-icon-selected: white;
    --color-input: #1e1e1e;
    --color-input-border: #0d0d0d;
    --color-input-form: #1e1e1e;
    --color-input-form-border: #0d0d0d;
    --color-input-label: #B8D8FF;
    --color-link: #52a0ff;
    --color-menu-item-hover: #484848;
    --color-owner: #F0DF0F;
    --color-scrollbar: #aaa;
    --color-select-hover: #f7f7f7;
    --color-side-menu-right: #1a1a1a;
    --color-success: #9BFE83;
    --color-task: #404040;
    --color-task-border: #1a1a1a;
    --color-task-count: #1e1e1e;
    --color-task-dropdown-item: ;
    --color-task-dropdown-item-font: ;
    --color-task-dropdown-item-icon: #ccc;
    --color-task-dropdown-item-hover: rgba(0,0,0,.7);
    --color-task-hover: #484848;
    --color-toast: white;
    --color-tooltip: black;
    --color-tooltip-font: white;
    --color-user: #0069ed;
    --color-warning: #fcf8e3;
}

.light {
    --color-100: red;
    --color-200: #ccc; 
    --color-300: #404040; 
    --color-400: #373737; 
    --color-500: rgb(253, 253, 253); 
    --color-600: rgb(253, 253, 253); 
    --color-700: white; 
    --color-800: ; 
    --color-900: rgb(253, 253, 253);

    --color-action: #7657FF;
    --color-action-font: white;
    --color-action-dark: #5a35ff;
    --color-action-hover: #ad9bff;
    --color-border: #ddd;
    --color-border-secondary: #ddd;
    --color-channel-hash: #ccc;
    --color-channel-hash-selected: #595959;
    --color-channel-hover: rgba(0, 0, 0, 0.05);
    --color-channel-selected: rgba(0, 0, 0, 0.1);
    --color-channel-selected-font:black;
    --color-channel-icon-selected:#595959;
    --color-channel-icon-hover:#9279ff;
    --color-divider: #ddd;
    --color-error: #aa0000;
    --color-focus: #7462e0; 
    --color-font-placeholder: #7b7b7b;
    --color-font-primary: rgba(0,0,0,.84);
    --color-font-quaternary: #0069ed;
    --color-font-secondary: black;
    --color-font-tertiary: #6e6e6e;
    --color-font-notification: #7657FF;
    --color-group-button-fill: #7657FF;
    --color-group-button: white;
    --color-group-button-hover: #7657FF;
    --color-group-details-hover: ;
    --color-group-icon: #dfdfdf;
    --color-group-selected: #9279ff;
    --color-group-icon-selected: #9279ff;
    --color-header: #f8f8f8;
    --color-home-icon: #7657FF;
    --color-home-icon-active: white;
    --color-home-button: white;
    --color-home-button-active: #9279ff;
    --color-home-icon-border: #9279ff;
    --color-home-icon-border-active: #9279ff;
    --color-icon: #595959;
    --color-icon-hover: #9279ff;
    --color-icon-button-active: #dfdfdf;
    --color-icon-button-hover: #e7e7e7;
    --color-icon-hover: #7657FF;
    --color-icon-selected: white;
    --color-input: white;
    --color-input-border: #bbb;
    --color-input-label: #0069ed;
    --color-input-form: white;
    --color-input-form-border: #bbb;
    --color-link: #52a0ff;
    --color-menu-item-hover: #e7e7e7;
    --color-owner: #F0DF0F;
    --color-scrollbar: #bbb;
    --color-select-hover: #f7f7f7;
    --color-side-menu-right: #f8f8f8;
    --color-success: #00552a;
    --color-task: white;
    --color-task-border: #bbb;
    --color-task-count: #f7f7f7;
    --color-task-hover: #f7f7f7;
    --color-task-dropdown-item: rgba(0,0,0,.6);
    --color-task-dropdown-item-font: white;
    --color-task-dropdown-item-icon: #ccc;
    --color-task-dropdown-item-hover: rgba(0,0,0,.7);
    --color-toast: white;
    --color-tooltip: #1e1e1e;
    --color-tooltip-font: white;
    --color-user: #019875;
    --color-warning: #fcf8e3;
}