@import '../../../styles/layout';
@import "../../../styles/shadows";

@media #{$Tablet}  {
    #SideMenu {
        z-index: 11;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        position: fixed;
        width: 80vw;
        transform: translate3d(-80vw, 0, 0);
    }

    #SideMenuContainer {
        z-index: 10;
        position: fixed;
        visibility: hidden;
    }

}

@media #{$Desktop} {
    #SideMenuOverlay {
        display: none;
    }

    #SideMenu {
        width: 20rem;
    }
}

@media #{$Mobile} {
    #SideMenu {
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        position: fixed;
        width: 80vw;
        transform: translate3d(-80vw, 0, 0);
        z-index: 3;
    }

    #SideMenuContainer {
        z-index: 2;
        position: fixed;
        visibility: hidden;
    }
}

#SideMenu {
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position: relative;
}

#SideMenuOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}