@import '../../../styles/layout';
@import "../../../styles/shadows";

@media #{$Tablet}  {
    #SideMenu {
        z-index: 11;
        transition: transform .4s cubic-bezier(0, .52, 0, 1);
        position: fixed;
        width: 80vw;
        transform: translate3d(-80vw, 0, 0);
    }
}

@media #{$Desktop} {
    #SideMenuOverlay {
        display: none;
    }

    #SideMenu {
        flex: 0 0 20rem;
        position: relative;
    }
}

@media #{$Mobile} {
    #SideMenu {
        transition: transform .4s cubic-bezier(0, .52, 0, 1);
        position: fixed;
        width: 80vw;
        transform: translate3d(-80vw, 0, 0);
        z-index: 3;
    }
}

#SideMenu {
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

#SideMenuOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.Appear {
    opacity: 0;
    transform: scale(0.8);
}

.AppearActive {
    opacity: 1;
    transition: opacity 300ms;
}

.Leave {
    opacity: 1;
}

.LeaveActive {
    opacity: 0;
    transition: opacity 300ms;
}

.SlideIn {
    transform: translate3d(0, 0, 0);
}

.SlideOut {
    transform: translate3d(-80vw, 0, 0);
}